body {
	max-width: 960px;
	margin: auto;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

a {
	color: #0056ef;
}

header {
	display: block;
	width: 960px;
	height: 350px;
	background-image: url("./assets/header_czech.png");
	background-repeat: no-repeat;
	background-size: 960px auto;
	background-position: center;
}

#langSwitch {
	position: fixed;
	right: 20px;
	top: 10px;
}

section {
	padding-top: 10px;
}

.text {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.hidden {
	display: none;
}

#contact {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

#contact a img {
    vertical-align: middle;
    margin-right: 8px;
}
